<section class="home">
  <div class="wrapper">
    <div class="home-content">
      <div class="actions">
        <div class="note-actions-right">
          <btn-upload-file></btn-upload-file>
          <dropdown></dropdown>
        </div>
        <div class="note-actions-left">
          <button
            (click)="handleCreateNote()"
            *ngIf="currentUser"
            class="btn is-dark"
          >
            Save
          </button>
          <button
            (click)="openShowModal()"
            *ngIf="!currentUser"
            class="btn is-dark"
          >
            Create User
          </button>
          <button
            *ngIf="isEditNote"
            (click)="handleEditNote()"
            class="btn is-dark"
          >
            Edit
          </button>
        </div>
      </div>
      <table-note></table-note>
    </div>
  </div>
  <user-modal></user-modal>
</section>
