<section class="all-page">
  <div class="wrapper">
    <div class="home-content">
      <app-loader *ngIf="isLoading"></app-loader>
      <section class="card-grid" *ngIf="!isLoading">
        <app-note-card
          [note]="note"
          *ngFor="let note of publicNotes"
        ></app-note-card>
      </section>
      <not-found *ngIf="!isLoading && publicNotes.length <= 0"></not-found>
      <div *ngIf="isError">
        <h3>
          {{ error }}
        </h3>
      </div>
    </div>
  </div>
</section>
