<app-header>
  <figure class="logo" logo>
    <img
      width="50"
      height="50"
      src="assets/images/logo-v2.png"
      alt="logo all notes v2"
    />
  </figure>
  <app-menu menu></app-menu>
</app-header>

<main [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>
<lib-toastify-toast-container
  iconLibrary="font-awesome"
  position="top-right"
  [pauseOnHover]="false"
  [closeOnClick]="true"
  [autoClose]="2000"
  [transition]="'bounce'"
  [pauseOnVisibilityChange]="false"
></lib-toastify-toast-container>
